/.vs/ModuleCodeDemo/v15/.suo
/.vs/ModuleCodeDemo/v15/Server/sqlite3/db.lock
/.vs/ModuleCodeDemo/v15/Server/sqlite3/storage.ide
/.vs/ModuleCodeDemo/v15/Server/sqlite3/storage.ide-shm
/.vs/ModuleCodeDemo/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/ModuleApp/Encrypt/bin/Debug
/ModuleApp/Encrypt/obj/Debug
/ModuleApp/InjectContainer/.vs/InjectContainer/v15/.suo
/ModuleApp/InjectContainer/.vs/InjectContainer/v15/Server/sqlite3/db.lock
/ModuleApp/InjectContainer/.vs/InjectContainer/v15/Server/sqlite3/storage.ide
/ModuleApp/InjectContainer/.vs/InjectContainer/v15/Server/sqlite3/storage.ide-shm
/ModuleApp/InjectContainer/.vs/InjectContainer/v15/Server/sqlite3/storage.ide-wal
/ModuleApp/InjectContainer/bin/Debug
/ModuleApp/InjectContainer/obj/Debug
/ModuleApp/Logger/bin/Debug
/ModuleApp/Logger/obj/Debug
/ModuleApp/ModuleCore/bin/Debug
/ModuleApp/ModuleCore/obj/Debug
/ModuleApp/Web.Mvc/bin/Debug
/ModuleApp/Web.Mvc/obj/Debug
/ModuleApp/Web/bin/Debug
/ModuleApp/Web/obj/Debug
/ModuleApp/WebApplication1/bin
/ModuleApp/WebApplication1/obj/Debug
/ModuleApp/packages/*